<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2021 Baidu, Inc. All Rights Reserved.
  -->
<configuration status="error">
    <Properties>
        <Property name="baseDir">logs</Property>
    </Properties>

    <appenders>

        <Console name="OfflineConsole" target="SYSTEM_OUT" follow="true">
            <!--只接受程序中DEBUG级别的日志进行处理-->
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <!--只接受程序中DEBUG级别的日志进行处理-->
            <ThresholdFilter level="OFF" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>
        <Routing name="ConsoleRouter">
            <Routes pattern="$${sys:log.env:-dev}">
                <Route ref="OfflineConsole" key="dev" />
                <Route ref="OfflineConsole" key="test" />
                <Route ref="Console" key="online" />
            </Routes>
        </Routing>

        <!--处理DEBUG级别的日志，并把该日志放到logs/debug.log文件中-->
        <!--打印出DEBUG级别日志，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="RollingFileDebug" fileName="${baseDir}/debug.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/$${date:dd}/debug-%d{yyyy-MM-dd}-%i.log.gz" immediateFlush="false">
            <Filters>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss}] %t %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}/" maxDepth="3">
                    <IfFileName glob="**/debug-*.log*"/>
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--处理INFO级别的日志，并把该日志放到logs/info.log文件中-->
        <RollingFile name="RollingFileInfo" fileName="${baseDir}/info.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/$${date:dd}/info-%d{yyyy-MM-dd}-%i.log.gz" immediateFlush="false">
            <Filters>
                <!--只接受INFO级别的日志，其余的全部拒绝处理-->
                <ThresholdFilter level="INFO"/>
            </Filters>
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}/" maxDepth="3">
                    <IfFileName glob="**/info-*.log*"/>
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--处理WARN级别的日志，并把该日志放到logs/warn.log文件中-->
        <RollingFile name="RollingFileWarn" fileName="${baseDir}/warn.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/$${date:dd}/warn-%d{yyyy-MM-dd}-%i.log.gz" immediateFlush="false">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}/" maxDepth="3">
                    <IfFileName glob="**/warn-*.log*"/>
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--处理error级别的日志，并把该日志放到logs/error.log文件中-->
        <RollingFile name="RollingFileError" fileName="${baseDir}/error.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/$${date:dd}/error-%d{yyyy-MM-dd}-%i.log.gz" immediateFlush="false">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>

            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}/" maxDepth="3">
                    <IfFileName glob="**/error-*.log*"/>
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--druid的日志记录追加器-->
        <RollingFile name="druidSqlRollingFile" fileName="${baseDir}/druid-sql.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/$${date:dd}/druid-sql-%d{yyyy-MM-dd}-%i.log.gz" immediateFlush="false">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] %-5level %L %M - %msg%xEx%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}/" maxDepth="3">
                    <IfFileName glob="**/druid-sql-*.log*"/>
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <Routing name="DruidSqlRouter">
            <Routes pattern="$${sys:log.env:-dev}">
                <Route ref="OfflineConsole" key="dev" />
                <Route ref="druidSqlRollingFile" key="test" />
                <Route ref="druidSqlRollingFile" key="online" />
            </Routes>
        </Routing>

        <!--网络调用-->
        <RollingFile name="uriCostFile" fileName="${baseDir}/uri_cost.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/$${date:dd}/uri_cost-%d{yyyy-MM-dd}-%i.log.gz" immediateFlush="false">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] %-5level %L %M - %msg%xEx%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}/" maxDepth="3">
                    <IfFileName glob="**/uri_cost-*.log*"/>
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <Routing name="UriCostRouter">
            <Routes pattern="$${sys:log.env:-dev}">
                <Route ref="OfflineConsole" key="dev" />
                <Route ref="uriCostFile" key="test" />
                <Route ref="uriCostFile" key="online" />
            </Routes>
        </Routing>
    </appenders>

    <loggers>
        <root level="INFO" includeLocation="true">
            <appender-ref ref="ConsoleRouter"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileWarn"/>
            <appender-ref ref="RollingFileError"/>
        </root>
        <!--记录druid-sql的记录-->
        <logger name="com.baidu.brcc.service.interceptor.MybatisLogPlugin" level="DEBUG" additivity="false" includeLocation="true">
            <appender-ref ref="DruidSqlRouter"/>
        </logger>

        <!--记录开销的记录-->
        <logger name="com.baidu.brcc.config.UriCostFilter" level="DEBUG" additivity="false" includeLocation="true">
            <appender-ref ref="UriCostRouter"/>
        </logger>

        <!-- 如果想查看web日志， 需要设置level为trace -->
        <logger name="org.springframework.web" level="OFF"/>


        <!--log4j2 自带过滤日志-->
        <logger name="com.baidu.driver4j.bdrp.performance" level="WARN" />
        <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
        <logger name="org.apache.catalina.util.LifecycleBase" level="ERROR"/>
        <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
        <logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN"/>
        <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
        <logger name="org.crsh.plugin" level="WARN"/>
        <logger name="org.crsh.ssh" level="WARN"/>
        <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
        <logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>
        <logger name="org.springframework.boot.actuate.autoconfigure.CrshAutoConfiguration" level="WARN"/>
        <logger name="org.springframework.boot.actuate.endpoint.jmx" level="WARN"/>
        <logger name="org.thymeleaf" level="WARN"/>
    </loggers>
</configuration>
