<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.brcc.dao.UserMapper">
<select id="queryUsersByUserName" resultMap="BaseResultMap">
    select * from rcc_user
    <where>
        name in
        <foreach collection="list" item="users" open="(" separator="," close=")">
            #{users}
        </foreach>
    </where>
</select>

</mapper>
