<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.brcc.dao.VersionMapper">
  <resultMap id="BaseResultMap" type="com.baidu.brcc.domain.Version">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="environment_id" jdbcType="BIGINT" property="environmentId" />
    <result column="check_sum" jdbcType="VARCHAR" property="checkSum" />
    <result column="check_sum_date" jdbcType="TIMESTAMP" property="checkSumDate" />
    <result column="check_sum_enable" jdbcType="TINYINT" property="checkSumEnable" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="gray_flag" jdbcType="TINYINT" property="grayFlag" />
    <result column="main_version_id" jdbcType="BIGINT" property="mainVersionId" />
    <result column="dependency_ids" jdbcType="VARCHAR" property="dependencyIds" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.type == 0">
                  <choose>
                    <when test="criterion.noValue">
                      AND ${criterion.condition}
                    </when>
                    <when test="criterion.singleValue">
                      AND ${criterion.condition} #{criterion.value}
                    </when>
                    <when test="criterion.betweenValue">
                      AND ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                    </when>
                    <when test="criterion.listValue">
                      AND ${criterion.condition}
                      <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                        #{listItem}
                      </foreach>
                    </when>
                  </choose>
                </when>
                <when test="criterion.type == 1">
                  <trim prefix="(" prefixOverrides="OR" suffix=")">
                    <foreach collection="criterion.inlineOrCriteria" item="criterion">
                      <choose>
                        <when test="criterion.noValue">
                          OR ${criterion.condition}
                        </when>
                        <when test="criterion.singleValue">
                          OR ${criterion.condition} #{criterion.value}
                        </when>
                        <when test="criterion.betweenValue">
                          OR ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                        </when>
                        <when test="criterion.listValue">
                          OR ${criterion.condition}
                          <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                            #{listItem}
                          </foreach>
                        </when>
                      </choose>
                    </foreach>
                  </trim>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.type == 0">
                  <choose>
                    <when test="criterion.noValue">
                      AND ${criterion.condition}
                    </when>
                    <when test="criterion.singleValue">
                      AND ${criterion.condition} #{criterion.value}
                    </when>
                    <when test="criterion.betweenValue">
                      AND ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                    </when>
                    <when test="criterion.listValue">
                      AND ${criterion.condition}
                      <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                        #{listItem}
                      </foreach>
                    </when>
                  </choose>
                </when>
                <when test="criterion.type == 1">
                  <trim prefix="(" prefixOverrides="OR" suffix=")">
                    <foreach collection="criterion.inlineOrCriteria" item="criterion">
                      <choose>
                        <when test="criterion.noValue">
                          OR ${criterion.condition}
                        </when>
                        <when test="criterion.singleValue">
                          OR ${criterion.condition} #{criterion.value}
                        </when>
                        <when test="criterion.betweenValue">
                          OR ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                        </when>
                        <when test="criterion.listValue">
                          OR ${criterion.condition}
                          <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                            #{listItem}
                          </foreach>
                        </when>
                      </choose>
                    </foreach>
                  </trim>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, product_id, memo, project_id, environment_id, check_sum, check_sum_date,
    check_sum_enable, deleted, update_time, create_time, gray_flag, main_version_id, dependency_ids
  </sql>
  <select id="selectByExample" parameterType="com.baidu.brcc.domain.VersionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <if test="columns!=null and columns.size() &gt; 0">
      <foreach collection="columns" item="listItem" separator=",">
        ${listItem}
      </foreach>
    </if>
    <if test="columns==null or columns.size() &lt;= 0">
      <include refid="Base_Column_List" />
    </if>
    from rcc_version
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test='orderByClause == "`id` desc"'>
        order by id desc
    </if>
    <if test="limit != null and limit > 0">
       limit
      <if test="start != null and start > 0">
         #{start},
      </if>
       #{limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rcc_version
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from rcc_version
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baidu.brcc.domain.VersionExample">
    delete from rcc_version
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baidu.brcc.domain.Version">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rcc_version (name, product_id, memo,
      project_id, environment_id, check_sum,
      check_sum_date, check_sum_enable, deleted,
      update_time, create_time, gray_flag, main_version_id, dependency_ids)
    values (#{name,jdbcType=VARCHAR}, #{productId,jdbcType=BIGINT}, #{memo,jdbcType=VARCHAR},
      #{projectId,jdbcType=BIGINT}, #{environmentId,jdbcType=BIGINT}, #{checkSum,jdbcType=VARCHAR},
      #{checkSumDate,jdbcType=TIMESTAMP}, #{checkSumEnable,jdbcType=TINYINT}, #{deleted,jdbcType=TINYINT},
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{grayFlag,jdbcType=TINYINT}, #{mainVersionId,jdbcType=BIGINT}, #{dependencyIds,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.baidu.brcc.domain.Version">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rcc_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="environmentId != null">
        environment_id,
      </if>
      <if test="checkSum != null">
        check_sum,
      </if>
      <if test="checkSumDate != null">
        check_sum_date,
      </if>
      <if test="checkSumEnable != null">
        check_sum_enable,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="grayFlag != null">
        gray_flag,
      </if>
      <if test="mainVersionId != null">
        main_version_id,
      </if>
      <if test="dependencyIds != null">
        dependency_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="environmentId != null">
        #{environmentId,jdbcType=BIGINT},
      </if>
      <if test="checkSum != null">
        #{checkSum,jdbcType=VARCHAR},
      </if>
      <if test="checkSumDate != null">
        #{checkSumDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkSumEnable != null">
        #{checkSumEnable,jdbcType=TINYINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="grayFlag != null">
        #{grayFlag,jdbcType=TINYINT},
      </if>
      <if test="mainVersionId != null">
        #{mainVersionId,jdbcType=BIGINT},
      </if>
      <if test="dependencyIds != null">
        #{dependencyIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baidu.brcc.domain.VersionExample" resultType="java.lang.Long">
    select count(*) from rcc_version
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rcc_version
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.memo != null">
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=BIGINT},
      </if>
      <if test="record.environmentId != null">
        environment_id = #{record.environmentId,jdbcType=BIGINT},
      </if>
      <if test="record.checkSum != null">
        check_sum = #{record.checkSum,jdbcType=VARCHAR},
      </if>
      <if test="record.checkSumDate != null">
        check_sum_date = #{record.checkSumDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkSumEnable != null">
        check_sum_enable = #{record.checkSumEnable,jdbcType=TINYINT},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=TINYINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.grayFlag != null">
        gray_flag = #{grayFlag,jdbcType=TINYINT},
      </if>
      <if test="record.mainVersionId != null">
        main_version_id = #{mainVersionId,jdbcType=BIGINT},
      </if>
      <if test="record.dependencyIds != null">
        dependency_ids = #{dependencyIds,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rcc_version
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      product_id = #{record.productId,jdbcType=BIGINT},
      memo = #{record.memo,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=BIGINT},
      environment_id = #{record.environmentId,jdbcType=BIGINT},
      check_sum = #{record.checkSum,jdbcType=VARCHAR},
      check_sum_date = #{record.checkSumDate,jdbcType=TIMESTAMP},
      check_sum_enable = #{record.checkSumEnable,jdbcType=TINYINT},
      deleted = #{record.deleted,jdbcType=TINYINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      gray_flag = #{record.grayFlag,jdbcType=TINYINT},
      main_version_id = #{record.mainVersionId,jdbcType=BIGINT},
      dependency_ids = #{record.dependencyIds,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.brcc.domain.Version">
    update rcc_version
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="environmentId != null">
        environment_id = #{environmentId,jdbcType=BIGINT},
      </if>
      <if test="checkSum != null">
        check_sum = #{checkSum,jdbcType=VARCHAR},
      </if>
      <if test="checkSumDate != null">
        check_sum_date = #{checkSumDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkSumEnable != null">
        check_sum_enable = #{checkSumEnable,jdbcType=TINYINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="grayFlag != null">
        gray_flag = #{grayFlag,jdbcType=TINYINT},
      </if>
      <if test="mainVersionId != null">
        main_version_id = #{mainVersionId,jdbcType=BIGINT},
      </if>
      <if test="dependencyIds != null">
        dependency_ids = #{dependencyIds,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baidu.brcc.domain.Version">
    update rcc_version
    set name = #{name,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=BIGINT},
      memo = #{memo,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=BIGINT},
      environment_id = #{environmentId,jdbcType=BIGINT},
      check_sum = #{checkSum,jdbcType=VARCHAR},
      check_sum_date = #{checkSumDate,jdbcType=TIMESTAMP},
      check_sum_enable = #{checkSumEnable,jdbcType=TINYINT},
      deleted = #{deleted,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      gray_flag = #{grayFlag,jdbcType=TINYINT},
      main_version_id = #{mainVersionId,jdbcType=BIGINT},
      dependency_ids = #{dependencyIds,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
